*{
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}

.container2{
    position: absolute;
    right: 15%;
    top: 25%;
    background: rgba(0,0,0,0.35);
    border-radius: 30px;
    padding: 1em;
   -ms-backdrop-filter:blur(20px);
   -webkit-backdrop-filter:blur(20px);
   height:60%;
}
li{
    list-style-type: none;
    color:whitesmoke ;
    font-weight: bold;
}
input[type="text"],input[type="Age"],input[type="Username"],input[type="Password"],input[type="MoblieNumber"],input{
    border-radius: 20px;
    padding: 0.5em;
    background-color:rgb(19, 16, 16);


}
h2{
    color: aliceblue;
    right: 20%;
    font-size: 3em;
    padding: 1em;
    position: absolute;
top: 3%;
}

.container3{
    position: relative;

}
button{
    border-radius: 20px;
    padding:0.3em 1.1em 0.3em 1.1em;
position: absolute;
left: 45%;
margin-top:30px;
}
h6{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    right:15%;
    font-size:1em;
    padding:0.8em;
    position: absolute;
    top: 15%;
    color: #2da6df;
}
td{
    font-weight: bolder;
    color: whitesmoke;

}
::placeholder{
    color: rgb(229, 234, 241);
}
label{
    color: whitesmoke;
}
input,select,textarea{
    color: whitesmoke;
}
input{
    outline: none;
}
